body{
    background-color: aliceblue;
}
#btn{
    margin:50px 0 0 300px;
    background-color: rgb(178, 212, 160);
    color:black;
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgb(196, 150, 80);
}
.des{
    margin:50px 0 0 200px;
}
#result{
    margin: 10px 10px 0 200px;
}